@page
@model IndexModel
@{
    ViewData["Title"] = "Home Suraj this is your first Github Project";
}

<div class="text-center">
    <h1>Hello Suraj welcome to DevOps</h1>
    <h1 class="display-4">Suraj this is your first Github Project</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
